* {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

p {
    color: black;
}

header {
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container a {
    color: red;
    text-decoration: none;
    margin: 0 15px;
}

header .container .logo {
    width: 100px;
}

.boton {
    text-align: center;
    text-decoration: none;
    padding: 16px 20px;
}

.boton.boton-rojo {
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

#inicio {
    position: relative;
}

#inicio img {
    width: 100%;
    display: block;
}

#inicio .bloque-inicio {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
}

#inicio .bloque-inicio h1 {
    color: white;
    font-size: 35px;
}

#inicio .bloque-inicio p {
    color: white;
    font-size: 16px;
}