* {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

p {
    color: black;
}

header {}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container a {
    color: red;
    text-decoration: none;
    margin: 0 15px;
}

header .container .logo {
    width: 200px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}